body {
    background: #d7e1ec;
}

#main {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 15%;
    margin-left: 35%;
}

#data {
    width: 100%;
    height: 60%;
}

#key {
    margin-top: 10px;
    width: 100%;
}

#data, #key {
    border: 2px solid white;
    border-radius: 10px;
    background: #d7e1ec;
}

#button {
    float: left;
    margin-left: 20px;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}

#result {
    color: green;
}

#result, .tip {
    margin-top: 10px;
}

a {
    text-decoration: none; /* 去除默认的下划线 */
    outline: none; /* 去除旧版浏览器的点击后的外虚线框 */
}

#ico_de, #ico_en {
    text-decoration: none; /* 去除默认的下划线 */
    outline: none; /* 去除旧版浏览器的点击后的外虚线框 */
    color: #000; /* 去除默认的颜色和点击后变化的颜色 */
}