#main{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    background: #ffa8e9;
}
#data{
    border: 3px solid white;
    width: 25%;
    height: 15%;
    border-radius: 5px;
    margin: 0 auto 10px;
    background: #ffa8e9;
}
#key{
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 8px;
    height: 15%;
    width: 25%;
}
#button{
    text-align: center;
    margin-top: 10px;
}
#encrypt{
    margin-right: 10px;
}
#tip{
    font-size: 15px;
    color: #1db976;
    text-align: center;
}
.text{
}
.button_class{
    background: cyan;
    border: 2px solid cyan;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
}
#result{
    font-size: 20px;
    color: #a02aff;
    text-align: center;

}